/* Estilos generales */

.campanas {
  max-width: 700px;
  margin: 20px auto 40px;
  padding: 20px;
  border: 2px solid #1758e694;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px rgba(36, 35, 35, 0.3);
  cursor: default;
  transition: all 400ms ease;
  height: 700px;
}

.campanas h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el formulario */
.campanas form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.campanas label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
.campanas input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  background-color: #f9f9f9;
  outline: none;
}

/* Estilos para el botón "Reservar" */
.campanas button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 20px; /* Ajusta el margen superior para que quede alineado */
}

.center-buttonn {
  display: flex;
  position: relative;
  left: -10%;
  justify-content: center;
  margin-top: 20px; /* Cambia el margen superior a 0 para alinear el botón */
}

/* Estilos al hacer hover en el botón */
.campanas button:hover {
  background-color: #0056b3;
}

/* Estilos CSS para los combobox */
.select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

/* Estilos CSS para las etiquetas de los combobox */
.label {
  margin-bottom: 8px;
  font-weight: bold;
}
