/* Estilos para el contenedor del formulario */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para el formulario CrearTipo */
.CrearTipo {
  max-width: 700px;
  margin: 20px auto 40px;
  padding: 20px;
  border: 2px solid #1758e694;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px rgba(36, 35, 35, 0.3);
  cursor: default;
  transition: all 400ms ease;
  height: 300px;
}

/* Estilos para el encabezado del formulario */
.CrearTipo h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el formulario dentro del contenedor */
.CrearTipo form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-top: 50px !important;
}

/* Estilos para las etiquetas del formulario */
.CrearTipo label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada de datos */
.CrearTipo input {
  padding: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 15px;
  width: 90%;
  height: 20px;
  outline: none;
}

/* Estilos para el botón del formulario */
.CrearTipo button {
  background-color: rgb(46, 109, 247);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
/* Estilo para centrar el botón en el contenedor */
.center-buton {
  position: relative;
  justify-self: center;
}

/* Estilo al pasar el mouse sobre el botón */
.CrearTipo button:hover {
  background-color: #0056b3;
}

/* Estilos CSS para los combobox */
.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s;
}

/* Estilos CSS para las etiquetas de los combobox */
.label {
  margin-bottom: 8px;
  font-weight: bold;
}
