/* Estilos para el contenedor del formulario de inicio de sesión */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilos para el contenedor de inicio de sesión */
.login-container {
  width: 300px;
  margin: 100px auto 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para el título del formulario */
.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para los campos de entrada y etiquetas */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Estilos para el botón de inicio de sesión */
.login-container button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo al pasar el mouse sobre el botón de inicio de sesión */
.login-container button:hover {
  background-color: #0056b3;
}
