@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Rubik:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif, "Rubik", sans-serif;
}

.sidebar {
  width: 14rem;
  height: 100%;
  border-right: 1px solid #e7e9eb;
  position: fixed; /* Fija el Sidebar */
  z-index: 10;
  background-color: #fff; /* Color de fondo del Sidebar */
  transition: all 0.3s; /* Efecto de desplazamiento suave */
}

.toggle-button {
  display: flex;
  position: relative;
  left: 83%;
  padding: 0;
}

.sidebar.hidden {
  transform: translateX(-83%);
  .content {
    transform: translateX(-20%);
  }
}

.sidebar.hidden + main {
  padding-left: 0; /* Establece el padding-left de main a 0 cuando sidebar tiene la clase .hidden */
  transition: padding-left 0.3s;
}

.sidebar + main {
  padding-left: 14rem;
  transition: padding-left 0.3s;
}

$light: #ffffff;
$gray: #e7e9eb;
$primaryColor: rgba(0, 105, 40, 0.829);
$secondaryColor: red;

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primaryColor;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;
  z-index: 1000;
  transition: all 0.3s; /* Efecto de desplazamiento suave */
}

body {
  margin-top: 56px;
  transition: all 0.3s; /* Asegura que el contenido se desplace con suavidad al abrir/cerrar el Sidebar */
}

.sidebar {
  width: 14rem;
  height: calc(100vh - 1px);
  border-right: 1px solid $gray;
  position: fixed;
  z-index: 10;

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      max-width: 90%;
      margin-top: 40px;
    }

    h5.title {
      font-size: 20.42px;
      color: $primaryColor;
      padding: 0 0 0 8px;
      margin-top: 40px;
    }
  }

  .burgerContainer {
    position: absolute;
    right: 0;
    top: calc(9rem / 1.15);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 1;

    .trigger {
      width: 100%;
      height: 100%;
      background-color: $secondaryColor;
      cursor: pointer;
      z-index: 2;
      opacity: 0;
    }

    /* Styles for the 'Menu' icon */
    /*
    .Menu {
      content: '';
      background-color: $secondaryColor;
      position: relative;
      z-index: 1;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      bottom: calc(35px / 2);
      left: 0.45rem;
    }

    .Menu::after {
      content: '';
      background-color: $secondaryColor;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: 0.4rem;
      transform: translatey(-0.4rem) rotate(45deg);
    }

    .Menu::before {
      content: '';
      background-color: $secondaryColor;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: calc(-0.4rem);
      transform: translatey(0.4rem) rotate(45deg);
    }
    */
  }

  .burgerContainer::after {
    content: "";
    position: absolute;
    right: 35px;
    top: calc(50px / 30);
    z-index: 0;
    width: 3.5rem + 10.5rem;
    background-color: $gray;
    height: 2px;
  }

  ul {
    list-style: none;
    padding: 200px 2rem;
    margin-top: -140px;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;

        &.active {
          background-color: $gray;
        }
      }
    }
  }
}
