* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #a7a7a9;
}

main {
  width: 100%;
  padding-left: 14rem;
}

h4 {
  color: black;
}

.error,
.loading {
  color: white;
}

/* Media Query para pantallas de 300px hasta 1024px */
@media screen and (min-width: 300px) and (max-width: 1024px) {
  /* Agrega estilos específicos para esta resolución si es necesario */
}

/* Si necesitas agregar estilos para la clase .sidebar, puedes descomentar esta sección */
/*
.sidebar {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
  background-color: #CD1719;
}

/* Si necesitas agregar estilos para la clase .main, puedes descomentar esta sección */
/*
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f1f1f1;
}
*/

/* Si necesitas agregar estilos para la clase .main-content, puedes descomentar esta sección */
/*
.main-content {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  background-color: #f1f1f1;
}
*/
